name: PMD Analysis

on:
  push:
  pull_request:

jobs:
  pmd:
    name: Run PMD
    runs-on: ubuntu-22.04
    permissions:
      security-events: write
    steps:
      - name: Check out the Git repository
        uses: actions/checkout@v4
      - name: Run PMD
        id: pmd
        uses: pmd/pmd-github-action@v2
        with:
          version: '7.0.0-rc4'
          sourcePath: 'src/main/java'
          rulesets: 'rulesets/java/quickstart.xml,rulesets/java/codestyle.xml,rulesets/java/bestpractices.xml'
          analyzeModifiedFilesOnly: false
      - name: Upload SARIF file
        if: always()
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: pmd-report.sarif
